body
{
    background-color: #151515;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 17px;


}

header{
    margin-right: 3%;
    margin-left: 3%;


}

footer{
    position: relative;
}


.logo{
    margin-top: 3%;
    display: inline-block;


}

.nav{


    float: right;
    margin-top: 3%;
    cursor: pointer;



}

.nav i{
    text-decoration: none;
    color:white;
    font-size: 30px;

}



.row{
    margin-left: 4%;
    margin-right: 0;
}


.nature{
    margin-top: 25%;
    width: 20%;

    padding: 4px 15px 4px 20px;
    background-color: darkblue;


}




h1{

    font-size: 75px;
    letter-spacing: 2px;
    font-weight: bolder;
    margin-top: 2%;


}

h2{
    font-size: 20px;
    color: #979797;
    line-height: 150%;
    width: 80%;


}

h3{
    font-size: 17px;
    color: #616161;



}

span{
    color: #4B4B4B;

}


.main-photo img{
    margin-top: 10%;
    width: 100%;



}




.col-md-5 i{
    color:darkblue;



}

.col-md-5 .see-more:hover{
    font-size: 20px;
}



.social{
    margin-top: 5%;
    margin-left: 2%;
    display: inline-block;
    border-bottom-style: solid;
    border-bottom-color: #616161;
}



a{
    color:white;
    text-decoration: none;
}



.copy{
   float: right;
    margin-top: 6%;
    margin-right: 2%;


}



.container2{
    width: 100%;
    height: 100%;
    display: none;

    position: absolute;
    z-index: 2;
    background-color: darkblue;

}






